* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dotted green; */
}

html{
font-family: Arial, Helvetica, sans-serif;
}

a{
font-weight: 600;
}

.search-container{
  background-image: url("./src/assets/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
}

.header-title{
  position: relative;
  color: #fff;
  top:400px;
  text-align: center;
  font-family: 'Bowlby One SC', cursive;

}

.search-box{
max-width: 900px;
  background-color: #263238;
  opacity: 0.9;
  position: relative;
  top: 400px;
  margin: auto;
  padding: 1%;
}

.van-mockup{
max-width: 18rem;
max-height: 18rem;
}

#hot-deals{
background-color: #D93D4A;
}

.card{
  min-width: 255px !important;
}

footer{
  height: 200px;
  background-color: darkseagreen;
position: fixed;
bottom: 0;
left: 0;
}

