* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dotted green; */
}

html{
font-family: Arial, Helvetica, sans-serif;
}

a{
font-weight: 600;
}

.search-container{
  background-image: url("./src/assets/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
}

.header-title{
  position: relative;
  color: #fff;
  top:400px;
  text-align: center;
  font-family: 'Bowlby One SC', cursive;

}

.search-box{
max-width: 900px;
  background-color: #263238;
  opacity: 0.9;
  position: relative;
  top: 400px;
  margin: auto;
  padding: 1%;
}

.van-mockup{
max-width: 18rem;
max-height: 18rem;
}

#hot-deals{
background-color: #D93D4A;
}

.card{
  min-width: 255px !important;
}


.body-style-section{
  height: 20vh;
  background-color: #cfd8dc ;

}

.body-style-container{
  position: relative;
  max-width: 300px;
  margin-bottom: 1%;
}

.sedan-img,.suv_img,.convertible_img,.coupe_img,.minivan_img,.ev_img,.hatchback_img,.luxury_img,.sports_img,.cargo_img,.truck_img,.commercial_img {
  width: 70%;
  display: block;
}

.overlay{
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 63%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 1em;
  padding: 2%;
  text-align: center;
}

.body-style-container:hover .overlay {
  opacity: 1;
}





footer{
  height: 200px;
  background-color: darkseagreen;
position: fixed;
bottom: 0;
left: 0;
}

