* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dotted green; */
}

html, body {
  width: 100%;
  height: 100%;
}

article {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

footer{
  height: 200px;
  background-color: darkseagreen;
position: fixed;
bottom: 0;
left: 0;
}

